<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
    <script src="../static/js/login.js"></script>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form id="loginForm">
            <div class="input-box">
                <img src="../static/icon/ID.png" alt="User Icon">
                <input type="text" id="userid" placeholder="아이디" name="id" required>
            </div>
            <div class="input-box">
                <img src="../static/icon/password.png" alt="Password Icon">
                <input type="password" id="password" placeholder="비밀번호" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit">로그인</button>
            </div>
        </form>
        <div id="login-message" style="color: red; margin-top: 10px;"></div>
        <div class="links">
            <a href="pw_search">비밀번호 찾기</a>
            <a href="id_search">아이디 찾기</a>
            <a href="join_in">회원가입</button>
        </div>
    </div>
</body>
</html>