<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <main class="container" id="container">
        <div class="content" id="content">
            <div class="logo"></div>
            <button class="MBTI" id="MBTI">MBTI로 알아보는<br>나의 직업 적성!!</button>
            <div class="box" id="box">
                <button class="JOB" id="JOB">
                    <h2>JOB</h2>
                    <p>Information</p>
                </button>
                <button class="Mypage" id="Mypage">
                    <h2>MY</h2>
                    <p>Page</p>
                </button>
            </div>
        </div>
    </main>
    <script src="/static/js/main.js"></script>
</body>
</html>
