<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <main class="container" id="container">
        <div class="content" id="content">
            <div class="logo"></div>
            <div>
                <button class="MBTI" id="MBTI">
                    <div class="text-container">
                        <h2>JBTI</h2><br>
                        <p id="Test">Test</p>
                    </div>
                    <img src="/static/icon/jbti2.png" alt="jbti2" id="jbti2">
                </button>
            </div>
            <div class="box" id="box">
                <button class="JOB" id="JOB">
                    <h2>JOB</h2>
                    <p>Information</p>
                </button>    
                <button class="Mypage" id="Mypage">
                    <h2>MY</h2>
                    <p>Page</p>
                </button>
            </div>        
        </div>
    </main>
    <script src="/static/js/main.js"></script>
</body>
</html>
