<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI 직업 적성</title>
    <link rel="stylesheet" href="/static/css/selection.css">
</head>
<body>
    <div id="main-container" class="container">
        <header class="main-header">
            <img src="/static/icon/previous.png" id="back-button" alt="Back" onclick="goBack()">
            <h1>JBTI 검사</h1>
        </header>
        <section id="mbti-section" class="image-section">
            <img id="mbti-image" src="" alt="MBTI Image" style="display:none;">            
        </section>
        <div class="dropdown mbti-dropdown">
            <button class="dropdown-button" onclick="toggleMbtiDropdown()">MBTI 선택 <span class="triangle">&#9660;</span></button>
            <ul id="mbti-list" class="dropdown-content">
                <li onclick="selectMbti(this)">INTJ</li>
                <li onclick="selectMbti(this)">INTP</li>
                <li onclick="selectMbti(this)">ENTJ</li>
                <li onclick="selectMbti(this)">ENTP</li>
                <li onclick="selectMbti(this)">INFJ</li>
                <li onclick="selectMbti(this)">INFP</li>
                <li onclick="selectMbti(this)">ENFJ</li>
                <li onclick="selectMbti(this)">ENFP</li>
                <li onclick="selectMbti(this)">ISTJ</li>
                <li onclick="selectMbti(this)">ISFJ</li>
                <li onclick="selectMbti(this)">ESTJ</li>
                <li onclick="selectMbti(this)">ESFJ</li>
                <li onclick="selectMbti(this)">ISTP</li>
                <li onclick="selectMbti(this)">ISFP</li>
                <li onclick="selectMbti(this)">ESTP</li>
                <li onclick="selectMbti(this)">ESFP</li>
            </ul>
        </div>
        <section id="job-section" class="image-section">
            <img id="job-image" src="" alt="job Image" style="display:none;">
        </section>  
        <div class="dropdown job-category-dropdown">
            <button class="dropdown-button" onclick="toggleJobCategory()">직군 선택 <span class="triangle">&#9660;</span></button>
            <ul id="job-category-list" class="dropdown-content">
                <li onclick="selectJobCategory(this)">경영·행정·사무직</li>
                <li onclick="selectJobCategory(this)">금융·보험직</li>
                <li onclick="selectJobCategory(this)">인문·사회과학 연구직</li>
                <li onclick="selectJobCategory(this)">자연·생명과학 연구직</li>
                <li onclick="selectJobCategory(this)">정보통신 연구개발직 및 공학기술직</li>
                <li onclick="selectJobCategory(this)">건설·채굴 연구개발직 및 공학기술직</li>
                <li onclick="selectJobCategory(this)">제조 연구개발직 및 공학기술직</li>
                <li onclick="selectJobCategory(this)">사회복지·종교직</li>
                <li onclick="selectJobCategory(this)">교육직</li>
                <li onclick="selectJobCategory(this)">법률직</li>
                <li onclick="selectJobCategory(this)">경찰·소방·교도직</li>
                <li onclick="selectJobCategory(this)">군인</li>
                <li onclick="selectJobCategory(this)">보건·의료직</li>
                <li onclick="selectJobCategory(this)">예술·디자인·방송직</li>
                <li onclick="selectJobCategory(this)">스포츠·레크리에이션직</li>
                <li onclick="selectJobCategory(this)">경호·경비직</li>
                <li onclick="selectJobCategory(this)">돌봄 서비스직(간병·육아)</li>
                <li onclick="selectJobCategory(this)">청소 및 기타 개인서비스직</li>
                <li onclick="selectJobCategory(this)">미용·예식 서비스직</li>
                <li onclick="selectJobCategory(this)">여행·숙박·오락 서비스직</li>
                <li onclick="selectJobCategory(this)">영업·판매직</li>
                <li onclick="selectJobCategory(this)">운전·운송직</li>
                <li onclick="selectJobCategory(this)">건설·채굴직</li>
                <li onclick="selectJobCategory(this)">식품 가공·생산직</li>
                <li onclick="selectJobCategory(this)">인쇄·목재·공예 및 기타 설치·정비·생산직</li>
                <li onclick="selectJobCategory(this)">제조 단순직</li>
                <li onclick="selectJobCategory(this)">기계 설치·정비·생산직</li>
                <li onclick="selectJobCategory(this)">금속·재료 설치·정비·생산직(판금·단조·주조·용접·도장 등)</li>
                <li onclick="selectJobCategory(this)">전기·전자 설치·정비·생산직</li>
                <!-- <li onclick="selectJobCategory(this)">청소 및 기타 개인서비스직</li> -->
                <li onclick="selectJobCategory(this)">정보통신 설치·정비직</li>
                <li onclick="selectJobCategory(this)">화학·환경 설치·정비·생산직</li>
                <li onclick="selectJobCategory(this)">섬유·의복 생산직</li>
                <li onclick="selectJobCategory(this)">농림어업직</li>
            </ul>
        </div>
        <button id="result-button" class="result-button">결과 보기</button>
    </div>   
</body>
    <script src="/static/js/selection.js"></script>
</html>
